/* Main body styles */
.main {
  display: flex;
  flex-direction: column;
}

.programCover {
  background-color: var(--tet-black);
  padding: 3.875rem;
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
}
.programCover img {
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1300px) {
  .programCover img {
    max-width: 1232px;
  }
}

/* Event Partners */
.partnersSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 88px;
}

.partnersSection h5 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: var(--tet-green);
  margin-bottom: 33px;
}

.partnersStatement {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 128px;
}
.partnersStatement p {
  width: 90%;
  max-width: 1232px;
  line-height: 22px;
  margin-bottom: 33px;
  color: var(--tet-light-grey);
}

.partnersStatement p span {
  color: var(--tet-black);
}

.partnersLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 128px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.logo,
.logoContainer img {
  margin: 17px;
}

.logoContainer img {
  height: 35px;
  min-width: 35px;
  object-fit: cover;
  filter: grayscale(1);
}

.logoContainer img.genesysLogo {
  height: 90px;
  min-width: 115px;
}

.logoContainer .eldovGroup {
  min-width: 85px;
}

.logoContainer .smoothLuxury {
  width: 115px;
  height: 115px;
}

@media screen and (max-width: 1000px) {
  .programAgenda {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 800px) {
  .programAgenda {
    flex-wrap: wrap;
    padding-bottom: 51px;
  }

  .programAgenda .programAgendaSection {
    max-width: unset;
    width: 100%;
    margin-right: 0px;
  }

  .programAgenda .programAgendaSection:first-of-type {
    margin-bottom: 62px;
  }
}

@media screen and (max-width: 480px) {
  .programCover {
    padding: 16px;
  }

  .partnersSection {
    margin-top: 24px;
  }

  .footer {
    padding: 32px 44px;
    padding-bottom: 64px;
  }
}
